{% extends 'base.html' %}
{% load static %}

{% block current %}
<li>
    <a href="{% url 'dashboard' %}"
        class="block py-2 pr-4 pl-3 text-white rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white"
        aria-current="page">Dashboard</a>
</li>

<li>
    <a href="{% url 'employee_list' %}"
        class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Employees</a>
</li>
{% endblock current %}


{% block content %}
<div class="h-64 bg-white dark:bg-gray-800 p-3 shadow dark:border rounded-lg dark:border-gray-700 w-full">
</div>

<div
    class="my-5 p-3 bg-white dark:bg-gray-800 flex items-center justify-between shadow dark:border rounded-lg dark:border-gray-700">
    <h3 class="text-lg font-semibold text-2xl dark:text-white">Transactions</h3>

    <div class="mr-2">
        <select id="months"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white outline-none">
            <option value="September">January</option>
            <option value="September">February</option>
            <option value="September">March</option>
            <option value="September">April</option>
            <option value="September">May</option>
            <option value="September">June</option>
            <option value="September">July</option>
            <option value="September">August</option>
            <option selected="September">September</option>
            <option value="September">October</option>
            <option value="September">November</option>
            <option value="September">December</option>
        </select>
    </div>
</div>
{% endblock %}