{% extends 'base2.html' %}
{% load static %}
{% load tailwind_filters %}

{% block content %}
<section class="container w-5/6 mx-auto mt-10">
  <div class="flex items-center justify-between h-full">
    <div class="hidden md:block">
      <img src="{% static 'img/unlock.svg' %}" class="w-full" alt="unlock svg" />
    </div>
    <div class="w-5/6 mx-auto">
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="flex justify-end items-center mb-6">
          <a href="#!" class="dark:text-white text-gray-900 font-semibold  hover:text-blue-600">Forgotten password?</a>
        </div>

        <div class="text-center lg:text-left">
          <button type="submit"
            class="inline-block w-full px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Login
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}